@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: rgb(28, 28, 28);
    backdrop-filter: blur(5px);
    padding: 75px 50px;
    border-radius: 20px;
}

.cardTittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cardWelcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inDev {
    background-color: rgb(222, 50, 50);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    line-height: 55px;
    background-color: rgb(134, 203, 14);
    border-radius: 10px;
    margin-right: 10px;
    white-space: nowrap;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}