<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>$(MAPBOX_ACCESS_TOKEN)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>VatSight uses your location to center the radar map on your position, making it easier to find nearby airports and air traffic.</string>
</dict>
</plist>
